<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>BaarikaappiApp</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<div class="page-header text-center">
		<div class="col-sm-6">
			<div style="position:absolute;top:0"class="well" content=>
							<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			</div>
		<h1>BaarikaappiApp</h1>
    	<p>Go <a href="/drinklist">back</a>.</p>
		<h2>Recipe</h2>
		</div>
	</div>
		<div style="float:center;" id="contentlist"></div>
<script>
var inglist;
var url= sessionStorage.juoma.replace(/ /g,'');
console.log(sessionStorage.juoma);
$.get("/drinks/search?d="+url, function myvar( ings ) {
	console.log(ings);
	var juomat=JSON.parse(ings);
  for(var i = 0; i < juomat.length; i++)
  {
    inglist = "<li>" + juomat[i].name+ "</li>";
    document.getElementById("contentlist").innerHTML += inglist;
  }
  for(var i = 0; i < juomat.length ; i++)
	{
		inglist = "<li>" + juomat[i].ingredients[i].ingredient+" " + juomat[i].ingredients[i].amount+ "</li>";
		document.getElementById("contentlist").innerHTML += inglist;
	}
	for(var i = 0; i < juomat.length; i++)
	{
		inglist = "<li>" + juomat[i].description+ "</li>";
		document.getElementById("contentlist").innerHTML += inglist;
	}
	inglist= "<ul id='uling'>" +inglist+ "</ul>";
},
 'text');
 function getEventTarget(e) {
		 e = e || window.event;
		 return e.target || e.srcElement;
 }
 var ul = document.getElementById('contentlist');
 var sendjuomat;
 ul.onclick = function(event) {
		 var target = getEventTarget(event);
    alert(target.innerHTML);
 };

</script>
</div>
</body>
</html>
